## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)
application_df = application_df.drop(['NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [5]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700','C4000','C5000', 'C1270','C2700','C2800','C7100','C1300','C1280','C1230','C1400'
'C7200','C2300','C1240','C8000','C7120','C1500','C1800','C6000','C1250','C8200','C1278','C1238','C1237','C1235','C7210','C1720',
'C2400','C4100','C1257','C1600','C0','C1260','C2710','C1234','C1246', 'C1267','C3200','C1256','C1400','C7200','C1370','C1236',
'C2190','C4200','C5200','C6100','C2600','C1248','C1580','C1820','C1900','C2570','C1283','C3700','C2500','C1570','C2380','C1732',        
'C1728','C2170','C4120','C8210','C4500','C1245','C2561','C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [6]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [7]:
# Split our preprocessed data into our features and target arrays 
# target: is successful 
X_features = application_df.drop(["IS_SUCCESSFUL"],axis=1)
y_features = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_features, y_features, random_state=1)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
X_test_scaled.shape

(8575, 51)

## Compile, Train and Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  40
hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 40)                2080

 dense_1 (Dense)             (None, 40)                1640

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 3,761
Trainable params: 3,761
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5850 - accuracy: 0.7345
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5845 - accuracy: 0.7345
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5809 - accuracy: 0.7352
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5820 - accuracy: 0.7340
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5924 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5942 - accuracy: 0.7346
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6037 - accuracy: 0.7293
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5942 - accuracy: 0.7360
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5883 - accuracy: 0.7355
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5880 - accuracy: 0.7358
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5868 - accuracy: 0.7356
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5859 - accuracy: 0.7359
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.7362
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5894 - accuracy: 0.7361
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5917 - accuracy: 0.7364
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5837 - accuracy: 0.7362
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5883 - accuracy: 0.7311
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5882 - accuracy: 0.7355
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5835 - accuracy: 0.7364
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5821 - accuracy: 0.7360
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5762 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5766 - accuracy: 0.7361
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5782 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5867 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5785 - accuracy: 0.7360
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5890 - accuracy: 0.7364
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5812 - accuracy: 0.7361
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5866 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5802 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5878 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5818 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5836 - accuracy: 0.7338
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7357
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5805 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7375
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7366
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5790 - accuracy: 0.7365
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7374
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5815 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5955 - accuracy: 0.7305
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5885 - accuracy: 0.7359
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5825 - accuracy: 0.7369
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5847 - accuracy: 0.7364
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7372
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5891 - accuracy: 0.7262
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7359
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5861 - accuracy: 0.7367
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5814 - accuracy: 0.7368
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.7368
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5864 - accuracy: 0.7331
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.7368
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5927 - accuracy: 0.7362
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.7365
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6353 - accuracy: 0.7055
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6011 - accuracy: 0.7358
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.7354
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5932 - accuracy: 0.7364
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5906 - accuracy: 0.7375
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5902 - accuracy: 0.7368
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5955 - accuracy: 0.7353
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5934 - accuracy: 0.7376
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5976 - accuracy: 0.7374
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5893 - accuracy: 0.7357
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5819 - accuracy: 0.7368
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5785 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5851 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7372
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5859 - accuracy: 0.7371
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7377
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5886 - accuracy: 0.7292
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5825 - accuracy: 0.7372
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7373
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5876 - accuracy: 0.7369
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6091 - accuracy: 0.7256
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5847 - accuracy: 0.7370
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5862 - accuracy: 0.7368
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5805 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5867 - accuracy: 0.7372
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5840 - accuracy: 0.7324
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5903 - accuracy: 0.7371
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5824 - accuracy: 0.7380
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5810 - accuracy: 0.7377
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5868 - accuracy: 0.7376
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5805 - accuracy: 0.7376
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5808 - accuracy: 0.7352
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5753 - accuracy: 0.7376
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5761 - accuracy: 0.7372
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5763 - accuracy: 0.7385
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5759 - accuracy: 0.7377
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5898 - accuracy: 0.7376
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5950 - accuracy: 0.7382
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5962 - accuracy: 0.7375
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5940 - accuracy: 0.7372
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5928 - accuracy: 0.7378
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5910 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7386
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5798 - accuracy: 0.7367
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5841 - accuracy: 0.7378
268/268 - 0s - loss: 0.6265 - accuracy: 0.7299 - 398ms/epoch - 1ms/step
Loss: 0.6264823079109192, Accuracy: 0.729912519454956

In [14]:
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
#Optimize your model in order to achieve a target predictive accuracy higher than 75% by using any or all of the following:

#Adjusting the input data to ensure that there are no variables or outliers that are causing confusion in the model, such as:

#Dropping more or fewer columns.
#Creating more bins for rare occurrences in columns.
#Increasing or decreasing the number of values for each bin.
#Adding more neurons to a hidden layer.
#Adding more hidden layers.
#Using different activation functions for the hidden layers.
#Adding or reducing the number of epochs to the training regimen.

Loss: 0.6264823079109192, Accuracy: 0.729912519454956

In [ ]:
# Export our model to HDF5 file
#nn.save("crypto.h5")